In [1]:
s[0] = 'Y'
print(s)

NameError: name 's' is not defined

In [2]:
sa = '111'
sb = '222'
sc = sa + sb
print(sc)

111222

In [6]:
num_books = 2
price = 30
s = f'I bought {num_books} books for {price} each\
 and paid ${num_books * price:.2f}.'
print(s)

I bought 2 books for 30 each and paid $60.00.

In [12]:
names = ['Tom', 'Dick', 'Harry']
print(names)

['Tom', 'Dick', 'Harry']

In [13]:
names2 = ['Susan', 'Alice', 'Beth']
namesb = names + names2
print(namesb)

['Tom', 'Dick', 'Harry', 'Susan', 'Alice', 'Beth']

In [14]:
namesc = names.append(names2)
print(namesc)
print(names)

None
['Tom', 'Dick', 'Harry', ['Susan', 'Alice', 'Beth']]

In [15]:
t1 = 1,2,3

In [16]:
print(t1)

(1, 2, 3)

In [17]:
ASet = {'cat', 'dog', 'parrot'}
AList = ['cat', 'dog', 'parrot']
ATuple = 'cat', 'dog', 'parrot'

In [18]:
print(ASet)
print(AList)
print(ATuple)

{'parrot', 'dog', 'cat'}
['cat', 'dog', 'parrot']
('cat', 'dog', 'parrot')

In [19]:
print(type(ASet))
print(type(AList))
print(type(ATuple))

<class 'set'>
<class 'list'>
<class 'tuple'>

In [21]:
print(ASet[0])
print(AList[0])
print(ATuple[0])

cat
cat

In [26]:
adict = {
    'Joe': 175,
    'Tom': 190,
    'Dick': 150
}

print(adict)

{'Joe': 175, 'Tom': 190, 'Dick': 150}

In [29]:
adict['Harry'] = 180
print(adict)

{'Joe': 175, 'Tom': 190, 'Dick': 150, 'Harry': 180}

In [32]:

print(adict)

{'Joe': 175, 'Tom': 190, 'Dick': 150}

In [34]:
entry1 = adict['Dick']
print(entry1)

150

In [36]:
print(hex(243))

0xf3

In [38]:
hex(int('110011101', 2))

'0x19d'

In [39]:
print(0x19d)

413