In [3]:
i = 0
while i < 5:
    i = i + 1
    print(i)

1
2
3
4
5

In [8]:
for i in range(5):
    i += 1
    print(i)

1
2
3
4
5

In [15]:
for i in range(5):
    j = i**2
    if i == 3:
        continue
    print(i, j)

0 0
1 1
2 4
4 16

In [16]:
test_list = [1, 2, 3, 4]

In [19]:
total = 0
n = 0

for i in test_list:
    if i % 2 == 0:
        continue
    total += i
    n += 1
    
print(total / n)

2.0

In [20]:
n_list = [1, -5, 16, 76, 127, 4]

In [29]:
smallest = n_list[0]

for i in n_list:
    if i < smallest:
        smallest = i
    
print(smallest)

-5

In [30]:
alist = ['Tom', 'Dick', 'Harry']

In [36]:
print(enumerate(alist))

<enumerate object at 0x000001BD374371A0>

In [40]:
for i in enumerate(alist):
    print(i, type(i))

(0, 'Tom') <class 'tuple'>
(1, 'Dick') <class 'tuple'>
(2, 'Harry') <class 'tuple'>

In [44]:
for item in enumerate(alist):
    index, value = item
    print(item, index, value)

(0, 'Tom') 0 Tom
(1, 'Dick') 1 Dick
(2, 'Harry') 2 Harry

In [52]:
largest = n_list[0]

for index, value in n_list:
    if value >= largest:
        largest = value
    
print(f'The largest value is {largest}''

TypeError: cannot unpack non-iterable int object